@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.34px;
  width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-menu {
  background-color: #ba0000;
  height: 50px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.header-menu .wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu .wrapper .choose-language {
  position: relative;
}
.header-menu .wrapper .choose-language .choose-language-button {
  background: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  color: #fff;
  letter-spacing: 1px;
  padding: 0;
  cursor: pointer;
}
.header-menu .wrapper .choose-language .language-list {
  position: absolute;
  width: 60px;
  height: 0;
  overflow: hidden;
  transition: height ease 0.3s;
}
.header-menu .wrapper .choose-language .language-list li a {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  padding: 0 4px;
}
.header-menu .wrapper .choose-language .language-list li a:visited {
  color: #fff;
}
.header-menu .wrapper .choose-language .language-list li a:hover {
  color: #ba0000;
}
.header-menu .wrapper .choose-language .language-list li:hover {
  background-color: #ffcc00;
}
.header-menu .wrapper .choose-language:hover .choose-language-button {
  color: #ffcc00;
}
.header-menu .wrapper .choose-language:hover .language-list {
  height: 45px;
  border: 1px solid white;
  background-color: #ba0000;
}
.header-menu .wrapper .header-contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-menu .wrapper .header-contacts .contact-center {
  margin-right: 30px;
  transition: 0.3s;
}
.header-menu .wrapper .header-contacts .contact-center i {
  margin-right: 3px;
}
.header-menu .wrapper .header-contacts .contact-center:hover {
  color: #ffcc00;
  cursor: pointer;
}
.header-menu .wrapper .header-contacts .country-profile {
  position: relative;
}
.header-menu .wrapper .header-contacts .country-profile:hover span, .header-menu .wrapper .header-contacts .country-profile:hover i {
  color: #ffcc00;
  cursor: pointer;
  transition: 0.3s;
}
.header-menu .wrapper .header-contacts .country-profile .country-profile-list {
  position: absolute;
  width: 120px;
  border: none;
  background-color: #ba0000;
  height: 0;
  transition: height ease 0.3s;
  overflow: hidden;
}
.header-menu .wrapper .header-contacts .country-profile .country-profile-list li {
  padding: 0 4px;
  cursor: pointer;
}
.header-menu .wrapper .header-contacts .country-profile .country-profile-list li:hover {
  background-color: #ffcc00;
  color: #ba0000;
}
.header-menu .wrapper .header-contacts .country-profile:hover .country-profile-list {
  height: 45px;
  border: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .header-menu .wrapper .header-contacts .country-profile {
    margin-right: 40px;
  }
}
@media screen and (max-width: 800px) {
  .header-menu {
    font-size: 13px;
    font-weight: 300;
  }
  .header-menu .wrapper .header-contacts .contact-center {
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .header-menu {
    font-size: 11px;
    font-weight: 500;
  }
}
.main-menu {
  background-color: #ffcc00;
}
.main-menu .wrapper {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu .wrapper .logo, .main-menu .wrapper .search {
  min-width: 200px;
}
.main-menu .wrapper .switcher {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.main-menu .wrapper label {
  cursor: pointer;
  display: none;
}
.main-menu .wrapper nav {
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #ba0000;
}
.main-menu .wrapper nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  text-transform: uppercase;
}
.main-menu .wrapper nav ul li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  margin: 0 11px;
  text-align: center;
  color: #ba0000;
}
.main-menu .wrapper nav ul li.selected {
  border-bottom: 4px solid #ba0000;
  font-weight: 900;
}
.main-menu .wrapper nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-menu .wrapper nav ul a {
  color: #ba0000;
  text-decoration: none;
}
.main-menu .wrapper nav ul a:visited {
  color: #ba0000;
}
.main-menu .wrapper .search {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-menu .wrapper .search .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ba0000;
  height: 50px;
  border-radius: 50px;
  transition: 0.3s;
}
.main-menu .wrapper .search .container:hover {
  box-shadow: 0 10px 18px rgba(186, 0, 0, 0.4);
}
.main-menu .wrapper .search .container:hover input {
  width: 150px;
  padding: 0 10px;
}
.main-menu .wrapper .search .container:hover button {
  background-color: #ffcc00;
  color: #ba0000;
}
.main-menu .wrapper .search .container input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 14px;
  color: #fff;
  width: 0px;
  transition: 0.3s;
}
.main-menu .wrapper .search .container input::-webkit-input-placeholder {
  color: #c2c2c2;
}
.main-menu .wrapper .search .container input::-ms-input-placeholder {
  color: #c2c2c2;
}
.main-menu .wrapper .search .container input::placeholder {
  color: #c2c2c2;
}
.main-menu .wrapper .search .container button {
  padding: 0;
  background-color: #ba0000;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ba0000;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  .main-menu .wrapper {
    height: 96px;
  }
  .main-menu .wrapper nav {
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .main-menu .wrapper {
    height: 50px;
  }
  .main-menu .wrapper .open,
.main-menu .wrapper .close {
    display: block;
  }
  .main-menu .wrapper .open {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ba0000;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 24px;
    line-height: 26px;
    color: white;
    text-align: center;
    opacity: 0.5;
    z-index: 9;
  }
  .main-menu .wrapper .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
  }
  .main-menu .wrapper .switcher:checked ~ nav {
    right: 0;
  }
  .main-menu .wrapper nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffcc00;
    right: -100%;
    top: 0;
    font-size: 14px;
    font-weight: 500;
    z-index: 10;
    transition: 0.3s;
  }
  .main-menu .wrapper nav ul {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 80px;
  }
  .main-menu .wrapper nav ul li {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  .main-menu .wrapper nav ul li:hover {
    background-color: #ffae00;
  }
  .main-menu .wrapper nav ul li.selected {
    border: none;
    background-color: #ba0000;
  }
  .main-menu .wrapper nav ul li.selected a {
    color: #ffcc00;
  }
  .main-menu .wrapper nav ul li.selected:hover {
    background-color: #ba0000;
  }
  .main-menu .wrapper .search .container {
    position: fixed;
    top: 60px;
    right: 10px;
    height: 30px;
    min-width: 30px;
    background-color: #ba0000;
    border: 2px solid white;
    z-index: 8;
    opacity: 0.5;
  }
  .main-menu .wrapper .search .container:hover {
    opacity: 1;
  }
  .main-menu .wrapper .search .container button {
    min-width: 26px;
    width: 26px;
    height: 26px;
    border: none;
    line-height: 26px;
  }
}
.header-info {
  height: 800px;
  background: linear-gradient(45deg, #ba0000 20%, transparent 70%, transparent), url("../img/skier-and-dhl-delivery-car.png");
  background-position: center;
}
.header-info .wrapper h1 {
  padding-top: 170px;
  width: 470px;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 3.1px;
  word-spacing: 6px;
  color: #fff;
}
.header-info .wrapper hr {
  width: 96px;
  border: 2px solid #ffcc00;
  margin-top: 44px;
  margin-left: 0;
  margin-bottom: 33px;
  text-align: left;
}
.header-info .wrapper p {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.51px;
  color: #ffcc00;
}
.header-info .wrapper ul {
  width: 470px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  word-spacing: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffcc00;
  margin-top: 38px;
  margin-bottom: 40px;
}
.header-info .wrapper ul li {
  margin-right: 15px;
}
.header-info .wrapper ul li ~ li::before {
  content: ".";
  margin-right: 30px;
}
.header-info .wrapper .buttons button {
  height: 50px;
  background: none;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-right: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.header-info .wrapper .buttons button:first-child {
  width: 150px;
}
.header-info .wrapper .buttons button:nth-child(2) {
  width: 192px;
}
.header-info .wrapper .buttons button:hover {
  background-color: #ffcc00;
  border-color: #ffcc00;
  color: #ba0000;
  box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
}

@media screen and (max-width: 1024px) {
  .header-info {
    height: 700px;
    background-size: cover;
  }
  .header-info .wrapper {
    max-width: 800px;
  }
  .header-info .wrapper h1 {
    padding-top: 170px;
    width: 350px;
    font-size: 50px;
  }
  .header-info .wrapper hr {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .header-info .wrapper p {
    font-size: 18px;
  }
  .header-info .wrapper ul {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .header-info .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-info .wrapper h1 {
    padding-top: 50px;
    width: 325px;
    font-size: 40px;
    text-align: center;
  }
  .header-info .wrapper hr {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .header-info .wrapper p {
    font-size: 14px;
    padding: 0 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .header-info .wrapper ul {
    width: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .header-info .wrapper ul li {
    margin: 4px 0;
  }
  .header-info .wrapper ul li ~ li::before {
    margin-right: 10px;
  }
  .header-info .wrapper ul li:first-child::before {
    content: ".";
    margin-right: 10px;
  }
  .header-info .wrapper .buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .header-info .wrapper .buttons button {
    margin: 10px 0;
  }
}
.services .wrapper {
  position: relative;
  height: 732px;
}
.services .wrapper h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ba0000;
  letter-spacing: 2.15px;
  padding-top: 130px;
  padding-bottom: 108px;
}
.services .wrapper p.background-text {
  position: absolute;
  top: 80px;
  z-index: -1;
  opacity: 0.03;
  font-size: 150px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ba0000;
}
.services .wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.services .wrapper .container .card {
  width: 270px;
}
.services .wrapper .container .card img {
  width: 100%;
  height: 180px;
}
.services .wrapper .container .card h3 {
  padding-top: 24px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #ba0000;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services .wrapper .container .card p {
  color: #777777;
  font-size: 16px;
  line-height: 1.6;
}
.services .wrapper .container .card a {
  display: block;
  margin-top: 16px;
  cursor: pointer;
  padding: 0 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #232322;
  text-decoration: none;
  transition: 0.3s;
}
.services .wrapper .container .card a:hover {
  color: #ba0000;
}
.services .wrapper .container .card a i {
  color: #ba0000;
}
.services .wrapper .container .form-location {
  width: 270px;
  height: 339px;
  background-color: #ba0000;
  padding: 29px;
}
.services .wrapper .container .form-location h3 {
  padding-top: 0;
  padding-bottom: 18px;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
  color: #fff;
}
.services .wrapper .container .form-location hr {
  width: 70px;
  border: 1px solid #ffcc00;
  margin-left: 0;
}
.services .wrapper .container .form-location p {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  margin-top: 26px;
}
.services .wrapper .container .form-location .input-location {
  position: relative;
  margin-top: 35px;
}
.services .wrapper .container .form-location .input-location select {
  width: 210px;
  height: 50px;
  padding: 0 18px;
  background-color: #9d0000;
  border: none;
  outline: none;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  appearance: none;
  cursor: pointer;
}
.services .wrapper .container .form-location .input-location select:focus {
  background-color: #9d0000;
}
.services .wrapper .container .form-location .input-location option {
  text-transform: capitalize;
}
.services .wrapper .container .form-location .input-location:before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  right: 2px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #ffcc00;
  color: #ba0000;
  text-align: center;
  pointer-events: none;
}
.services .wrapper .container .form-location .button-explore {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 25px;
  background: none;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
.services .wrapper .container .form-location .button-explore:hover {
  box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  background: #ffcc00;
  border-color: #ffcc00;
  color: #ba0000;
}

@media screen and (max-width: 1200px) {
  .services .wrapper .container {
    justify-content: space-around;
  }
  .services .wrapper .container .card {
    width: 230px;
  }
  .services .wrapper .container .card img {
    height: auto;
  }
  .services .wrapper .container .card h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .services .wrapper .container .form-location {
    width: 230px;
  }
  .services .wrapper .container .form-location h3 {
    padding-bottom: 10px;
  }
  .services .wrapper .container .form-location p {
    font-size: 14px;
    margin-top: 20px;
  }
  .services .wrapper .container .form-location .input-location {
    margin-top: 35px;
  }
  .services .wrapper .container .form-location .input-location select {
    width: 172px;
    padding: 0 18px;
  }
  .services .wrapper .container .form-location .button-explore {
    width: 150px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .services .wrapper {
    height: auto;
    padding-bottom: 80px;
  }
  .services .wrapper h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .services .wrapper p.background-text {
    top: 5px;
    width: 100%;
    font-size: 150px;
    text-align: center;
  }
  .services .wrapper .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services .wrapper .container .card {
    width: 270px;
    margin: 10px;
  }
  .services .wrapper .container .card img {
    height: auto;
  }
  .services .wrapper .container .card h3 {
    padding-top: 24px;
    padding-bottom: 12px;
    font-size: 18px;
  }
  .services .wrapper .container .card p {
    font-size: 14px;
  }
  .services .wrapper .container .card a {
    font-size: 15px;
  }
  .services .wrapper .container .form-location {
    width: 270px;
    margin: 10px;
  }
  .services .wrapper .container .form-location h3 {
    padding-bottom: 18px;
  }
  .services .wrapper .container .form-location p {
    font-size: 14px;
    margin-top: 26px;
  }
  .services .wrapper .container .form-location .input-location {
    margin-top: 35px;
  }
  .services .wrapper .container .form-location .input-location select {
    width: 210px;
    padding: 0 18px;
  }
  .services .wrapper .container .form-location .button-explore {
    width: 150px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .services .wrapper h2 {
    font-size: 36px;
  }
  .services .wrapper p.background-text {
    top: 20px;
    font-size: 100px;
  }
  .services .wrapper .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .services .wrapper .container .card {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 600px) {
  .services .wrapper p.background-text {
    top: 40px;
    font-size: 60px;
  }
}
.about {
  position: relative;
  height: 700px;
  margin-bottom: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(255, 204, 0, 0.4), transparent), linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/dhl-transport-vehicles.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about h2 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  word-spacing: 1px;
  letter-spacing: 2.5px;
  text-align: center;
  padding-top: 147px;
  padding-bottom: 55px;
}
.about .slider-play-button {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #ffcc00;
  border: none;
  color: #ba0000;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.about .slider-play-button:hover {
  box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
}
.about .slider-container {
  position: absolute;
  top: 500px;
  left: auto;
  right: auto;
  width: 1200px;
  overflow: hidden;
}
.about .slider-container .slider-line {
  height: 426px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about .slider-container .slider-line .slider-item {
  width: 370px;
  height: 406px;
  margin: 0 15px;
}
.about .slider-container .slider-line .slider-item img {
  width: 370px;
  height: 200px;
  object-fit: cover;
}
.about .slider-container .slider-line .slider-item .text-area {
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
  padding: 27px 30px;
}
.about .slider-container .slider-line .slider-item .text-area h3 {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  color: #ba0000;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.about .slider-container .slider-line .slider-item .text-area ul {
  list-style-type: none;
}
.about .slider-container .slider-line .slider-item .text-area ul li {
  position: relative;
  margin-top: 11px;
  padding-left: 20px;
}
.about .slider-container .slider-line .slider-item .text-area ul li::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  border: 7px solid transparent;
  border-left-color: #ffcc00;
}

@media screen and (max-width: 1200px) {
  .about {
    height: 600px;
  }
  .about h2 {
    font-size: 40px;
  }
  .about .slider-container {
    top: 400px;
    width: 800px;
  }
}
@media screen and (max-width: 1024px) {
  .about {
    height: 600px;
  }
  .about h2 {
    font-size: 30px;
  }
  .about .slider-container {
    top: 400px;
  }
}
@media screen and (max-width: 800px) {
  .about h2 {
    font-size: 28px;
  }
  .about .slider-container {
    width: 400px;
  }
  .about .slider-container .slider-line .slider-item .text-area h3 {
    font-size: 18px;
  }
  .about .slider-container .slider-line .slider-item .text-area ul li {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .about {
    height: 500px;
  }
  .about h2 {
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 24px;
  }
  .about .slider-container {
    top: 300px;
  }
}
@media screen and (max-width: 400px) {
  .about .slider-container {
    width: 100vw;
  }
  .about .slider-container .slider-line .slider-item {
    width: 90vw;
  }
  .about .slider-container .slider-line .slider-item img {
    width: 90vw;
  }
}
.express-logistics .wrapper {
  margin-top: 104px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.express-logistics .wrapper .selection-block {
  width: 570px;
  height: 534px;
  background-color: #ba0000;
}
.express-logistics .wrapper .selection-block .top-buttons {
  display: flex;
  justify-content: space-between;
}
.express-logistics .wrapper .selection-block .top-buttons .radio-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.express-logistics .wrapper .selection-block .top-buttons .radio-button label {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #ba0000;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.express-logistics .wrapper .selection-block .top-buttons .radio-button input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 0;
  overflow: hidden;
}
.express-logistics .wrapper .selection-block .top-buttons .radio-button input:checked + label {
  background-color: #ffcc00;
  box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  color: #ba0000;
}
.express-logistics .wrapper .selection-block .dropdown-links {
  height: 405px;
  padding: 40px;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item {
  width: 488px;
  margin-bottom: 20px;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-button {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #ba0000;
  border: 2px solid white;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  line-height: 46px;
  width: 50px;
  border-left: 2px solid white;
  font-family: "FontAwesome";
  text-align: center;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-button:focus {
  border: none;
  background-color: #ffcc00;
  color: #ba0000;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-button:focus::after {
  content: "";
  height: 50px;
  line-height: 50px;
  border-color: #ba0000;
  border-right: 2px solid #ffcc00;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list {
  box-sizing: content-box;
  height: 0px;
  overflow: hidden;
  background-color: #9d0000;
  border: none;
  color: #fff;
  padding: 0;
  transition-property: height;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  visibility: hidden;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list h3 {
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list ul {
  display: flex;
  flex-direction: column;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list ul li {
  margin: 10px 5px 0px 5px;
  padding-left: 20px;
  background-image: url("../img/arrow-right.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list ul li a {
  color: inherit;
  text-decoration: none;
  font-weight: 300;
}
.express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-button:focus + .dropdown-list {
  height: 100px;
  padding: 20px;
  border: 2px solid #ffcc00;
  border-top: none;
  visibility: visible;
}
.express-logistics .wrapper .styled-image {
  position: relative;
  width: 470px;
  height: 534px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.express-logistics .wrapper .styled-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 495px;
  border: 18px solid #ffcc00;
  z-index: -1;
}
.express-logistics .wrapper .styled-image .image-wrapper {
  position: relative;
}
.express-logistics .wrapper .styled-image .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: left bottom no-repeat url("../img/dhl_logo.png"), linear-gradient(0deg, #ffcc00, transparent);
  background-size: 170px 50px, 100%;
}

@media screen and (max-width: 1200px) {
  .express-logistics .wrapper .selection-block {
    width: 500px;
  }
  .express-logistics .wrapper .selection-block .dropdown-links .dropdown-item {
    width: 420px;
  }
  .express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list h3 {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list ul li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .express-logistics {
    margin-bottom: 80px;
  }
  .express-logistics .wrapper {
    padding: 0;
  }
  .express-logistics .wrapper .selection-block {
    width: 100%;
  }
  .express-logistics .wrapper .selection-block .dropdown-links .dropdown-item {
    width: 100%;
  }
  .express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list h3 {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .express-logistics .wrapper .selection-block .dropdown-links .dropdown-item .dropdown-list ul li a {
    font-size: 14px;
  }
  .express-logistics .wrapper .styled-image {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .express-logistics {
    margin-bottom: 80px;
  }
  .express-logistics .wrapper {
    padding: 0;
  }
  .express-logistics .wrapper .selection-block {
    width: 100%;
    height: 474px;
  }
  .express-logistics .wrapper .selection-block .dropdown-links {
    padding: 10px;
  }
}
.features {
  background-color: #ba0000;
  color: #fff;
  padding: 98px 0;
}
.features .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features .wrapper article {
  width: 770px;
}
.features .wrapper article h2 {
  margin-bottom: 34px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.5px;
}
.features .wrapper article p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.55px;
}
.features .wrapper .learn-more-button {
  height: 50px;
  background-color: #9d0000;
  border: none;
  border-radius: 25px;
  padding: 0 30px;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.features .wrapper .learn-more-button:hover {
  background-color: #ffcc00;
  color: #ba0000;
  box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
}

@media screen and (max-width: 1200px) {
  .features .wrapper article {
    padding: 10px;
  }
  .features .wrapper .learn-more-button {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .features .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .features .wrapper article h2 {
    font-size: 24px;
  }
  .features .wrapper article p {
    font-size: 14px;
  }
}
.clients {
  padding: 70px 0;
}
.clients .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients .wrapper li {
  width: 270px;
  height: 128px;
  background-color: #f9f9f9;
  border: 2px solid #eedbdb;
  transition: 0.3s;
}
.clients .wrapper li:hover {
  border-color: #ba0000;
}
.clients .wrapper li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.clients .wrapper li a img {
  width: 88%;
}

@media screen and (max-width: 1200px) {
  .clients .wrapper {
    padding: 0;
  }
  .clients .wrapper li {
    margin: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .clients {
    padding: 40px 0;
  }
  .clients .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer {
  height: 311px;
  padding-top: 58px;
  background: url("../img/footer-background-left.png"), url("../img/footer-background-right.png"), linear-gradient(90deg, #ba0000, #ba0000 10%, transparent 10%, transparent 90%, #ffcc00 90%, #ffcc00);
  background-repeat: no-repeat;
  background-position: top 0px left 40px, top 0px right 40px, top left;
}
footer .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .wrapper section {
  width: 270px;
}
footer .wrapper section h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 5px;
  color: #ba0000;
}
footer .wrapper section ul {
  margin-top: 35px;
}
footer .wrapper section ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  word-spacing: 1px;
}
footer .wrapper section ul li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  border: 5px solid transparent;
  border-left-color: #ba0000;
}
footer .wrapper section ul li a {
  color: #777777;
  text-decoration: none;
  transition: 0.3s;
}
footer .wrapper section ul li a:visited {
  color: #777777;
}
footer .wrapper .contact-center {
  margin-left: 100px;
}
footer .wrapper .contact-center a:hover {
  color: #ffcc00;
}
footer .wrapper .about-us {
  margin-left: 130px;
}
footer .wrapper .about-us a:hover {
  color: #ffcc00;
}
footer .wrapper .social-media {
  margin-left: 30px;
}
footer .wrapper .social-media a:hover {
  color: #017edf;
}

@media screen and (max-width: 1740px) {
  footer {
    background: linear-gradient(90deg, #ba0000, #ba0000 2.5%, #e2e2e2 2.5%, #f0f0f0 97.5%, #ffcc00 97.5%, #ffcc00);
    padding: 0;
    padding-top: 40px;
  }
  footer .wrapper {
    height: 100%;
    width: 95%;
    max-width: 1170px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  footer .wrapper section {
    width: 225px;
  }
  footer .wrapper .contact-center,
footer .wrapper .about-us,
footer .wrapper .social-media {
    margin: 20px;
  }
}
@media screen and (max-width: 1200px) {
  footer {
    height: auto;
    padding: 40px 0 40px 40px;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    padding-left: 20px;
    padding-right: 0;
  }
  footer .wrapper section {
    width: 200px;
  }
  footer .wrapper section h3 {
    font-size: 18px;
  }
  footer .wrapper section ul li {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  footer .wrapper {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  footer {
    background: linear-gradient(90deg, #ba0000, #ba0000 10%, #e2e2e2 10%, #f0f0f0 90%, #ffcc00 90%, #ffcc00);
    padding-bottom: 20px;
  }
  footer .wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  footer .wrapper section {
    width: 260px;
  }
}

/*# sourceMappingURL=style.css.map */
